{{#if todos.length}}
<h1 style="padding-left: 50px; padding-top:25px;"> Your ToDo list:</h1>
<div class="list">
<ul style="list-style-type:none">
 {{#each todos}}
    <li class="todo">
        <form method="POST">
            <label>
                {{#if completed}}
                <input type="checkbox" checked name="completed">
                <span class="completed">{{title}}</span>
                {{else}}
                <input type="checkbox" name="completed">
                <span>{{title}}</span>
                {{/if}}

                <div class="btn-group">
                    <input type="hidden" value="{{_id}}" name="id">
                    <button class="btn btn-success btn-block" type="submit" formaction="/complete">Save</button>

                    <input type="hidden" value="{{_id}}" name="id">
                    <button class="btn btn-success btn-danger" type="submit" formaction="/delete">Delete</button>
                </div>
            </span>
            </label>
        </form>
    </li>
 {{/each}}
</ul>
</div>
{{else}}
<div class="alert alert-info" role="alert" style="margin-top: 8%;">
  <h4 class="alert-heading">No ToDos!</h4>
  <p>
  Seems like you haven't created any todos yet. <br>
  <a href="/create" class="alert-link"> 
  Click here to create new todos.</a>
  </p>
</div>
{{/if}}
</div>

<form action="/create" method="GET">
<button id="create-new" type="submit" class="btn btn-success btn-circle btn-xl">
New +
</button> 
</form>
